<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
              http://www.springframework.org/schema/tx
              http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
              http://www.springframework.org/schema/context
              http://www.springframework.org/schema/context/spring-context-2.5.xsd">



<bean class="dao.Implementations.QcmImpl"     id="qcm"     init-method="init" ></bean>
<bean class="dao.Implementations.InternauteImpl"     id="inter"     init-method="init" ></bean>
<bean class="dao.Implementations.EmployeImpl" id="emp"     init-method="init" ></bean>
<bean class="dao.Implementations.ResponsableImpl"     id="resp"     init-method="init" ></bean>

<bean class="services.QcmMetierImplementation" id="QcmServices">
	<property name="employeDao" ref="emp"  ></property > 
	<property name="qcmDao" ref="qcm"  ></property>
	<property name="internauteDao" ref="inter"  ></property>
	<property name="responsableDao" ref="resp"  ></property>
 </bean>

 </beans>